<h1>Index page: list all kittens</h1>

<% @kittens.each do |kitten| %>
  <%= kitten.kitten_info %>
  <%= render partial: "kittens/partials/delete_button", locals: {kitten: kitten} %>
  <br \>
<% end %>